<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='javascripts/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='stylesheets/dashboard.css' />
    <link rel='stylesheet' href='stylesheets/sticky-footer.css' />
    <script src='javascripts/chartjs/Chart.js' ></script>
    <!--<script src='javascripts/jquery/dist/jquery.min.js' ></script>-->
    <script src='javascripts/bootstrap/dist/js/bootstrap.min.js' ></script>
</head>
<body>


    <div id="mainContent" style="width: 1200px;" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <canvas id="canvas" height="450" width="600"></canvas>
    </div>

<script>
    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
    var lineChartData = {
        labels : ["January","February","March","April","May","June","July"],
        datasets : [
            {
                label: "My First dataset",
                fillColor : "rgba(220,220,220,0.2)",
                strokeColor : "rgba(220,220,220,1)",
                pointColor : "rgba(220,220,220,1)",
                pointStrokeColor : "#fff",
                pointHighlightFill : "#fff",
                pointHighlightStroke : "rgba(220,220,220,1)",
                data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
            },
            {
                label: "My Second dataset",
                fillColor : "rgba(151,187,205,0.2)",
                strokeColor : "rgba(151,187,205,1)",
                pointColor : "rgba(151,187,205,1)",
                pointStrokeColor : "#fff",
                pointHighlightFill : "#fff",
                pointHighlightStroke : "rgba(151,187,205,1)",
                data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
            }
        ]

    }

    var ctx = document.getElementById("canvas").getContext("2d");
    debugger;
    window.myLine = new Chart(ctx).Line(lineChartData, {
        responsive: true
    });



</script>
</body>
</html>