<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active" data-url="/uploadPicturesIndex"><a id="id_albumlist"  href="#">上传照片 <span class="sr-only">(current)</span></a></li>
        <li data-url="/analysisData"><a id="id_analysis"  href="#">统计分析</a></li>
    </ul>
</div>