<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='javascripts/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='stylesheets/dashboard.css' />
    <link rel='stylesheet' href='stylesheets/sticky-footer.css' />
    <script src='http://code.jquery.com/jquery-1.10.2.min.js' ></script>
    <script src='javascripts/bootstrap/dist/js/bootstrap.min.js' ></script>
    <script type="text/javascript">
        function uploadFile(){
            var formData = new FormData();
            var files = document.getElementById('avatar').files;
            for (var i=0;i<files.length;i++){
                formData.append("avatar",files[i]);
            }
            $.ajax({
                url: '/upload',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(data){
                    if(200 === data.code) {
                       // $("#imgShow").attr('src', data.msg.url);
                        $("#spanMessage").html("上传成功");
                    } else {
                        $("#spanMessage").html("上传失败");
                    }
                    console.log('imgUploader upload success, data:', data);
                },
                error: function(){
                    $("#spanMessage").html("与服务器通信发生错误");
                }
            });
        }

    </script>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">简.片</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" placeholder="搜索" class="form-control search-query">
                </div>
                <!--<button type="submit" class="btn btn-success">Sign in</button>-->
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="./">首页<span class="sr-only">(current)</span></a></li>
                <li><a href="#">关于</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active" data-url="/uploadPicturesIndex/personalSettings"><a id="id_albumlist"  href="#">上传照片 <span class="sr-only">(current)</span></a></li>
                <li class="" data-url="/uploadPicturesIndex/analysis"><a id="id_analysis"  href="#">统计分析</a></li>
            </ul>
        </div>
        <div id="main" class="main">

        </div>

</div>
    </div>
<!--<footer class="settingFooter">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>-->
<script>
    $(function () {
        $.ajax({
            url: '/uploadPicturesIndex/personalSettings',
            dataType:'html',
            success:function(data){
                $('#main').empty().append(data);
                //view.addClass('active').siblings().removeClass('active');
            }
        });
        $('.nav-sidebar li').click(function(){
            var view=$(this);
            $.ajax({
                url: $(this).attr('data-url'),
                dataType:'html',
                success:function(data){
                    $('#main').empty().append(data);
                    view.addClass('active').siblings().removeClass('active');
                }
            });
        });
        $('#uploadPicModal').modal('hide');
        $('#uploadPicModal').on('hide.bs.modal', function () {
           // alert('嘿，我听说您喜欢模态框...');})
        });
        $('#createAlbumModal').modal('hide');
        $('#createAlbumModal').on('hide.bs.modal', function () {
           // alert('嘿，我听说您喜欢模态框...');})
        });
    });
</script>
</body>
</html>