<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='javascripts/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='stylesheets/dashboard.css' />
    <link rel='stylesheet' href='stylesheets/sticky-footer.css' />
    <script src='javascripts/jquery/dist/jquery.min.js' ></script>
    <script src='javascripts/bootstrap/dist/js/bootstrap.min.js' ></script>
    <script type="text/javascript">
        function uploadFile(){
            var formData = new FormData();
            formData.append("avatar",document.getElementById('avatar').files[0]);
            $.ajax({
                url: '/upload',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(data){
                    if(200 === data.code) {
                       // $("#imgShow").attr('src', data.msg.url);
                        $("#spanMessage").html("上传成功");
                    } else {
                        $("#spanMessage").html("上传失败");
                    }
                    console.log('imgUploader upload success, data:', data);
                },
                error: function(){
                    $("#spanMessage").html("与服务器通信发生错误");
                }
            });
        }

    </script>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">简.片</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" placeholder="搜索" class="form-control search-query">
                </div>
                <!--<button type="submit" class="btn btn-success">Sign in</button>-->
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="./">首页<span class="sr-only">(current)</span></a></li>
                <li><a href="#">关于</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active" data-url="/uploadPicturesIndex"><a id="id_albumlist"  href="#">上传照片 <span class="sr-only">(current)</span></a></li>
                <li data-url="/analysisData"><a id="id_analysis"  href="#">统计分析</a></li>
            </ul>
        </div>
        <div id="mainContent" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="nav-button">
                <!-- 按钮触发模态框 -->
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#uploadPicModal">
                    上传照片
                </button>
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createAlbumModal">
                    创建相册
                </button>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 ">
                    <div class="thumbnail" style="height: 334px;">
                        <a href="/albumPictureIndex" title="Bootstrap 编码规范" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])"><img class="lazy" src="http://static.bootcss.com/www/assets/img/codeguide.png" width="300" height="280" data-src="http://static.bootcss.com/www/assets/img/codeguide.png" alt="Headroom.js"></a>
                        <div class="caption">
                            <p>
                                大理旅游/2015.8.29
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 ">
                    <div class="thumbnail" style="height: 334px;">
                        <a href="/albumPictureIndex" title="Bootstrap 编码规范" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])"><img class="lazy" src="http://static.bootcss.com/www/assets/img/codeguide.png" width="300" height="150" data-src="http://static.bootcss.com/www/assets/img/codeguide.png" alt="Headroom.js"></a>
                        <div class="caption">
                            <p>
                                欧洲五国/2016.3.18
                            </p>
                        </div>
                    </div>
                </div>


            <!-- 模态框（Modal） -->
            <div class="modal fade" id="uploadPicModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                上传照片
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form class = "form-horizontal" enctype='multipart/form-data' method='post' role = "form" id = "frmUploadFile">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">相册</label>
                                    <div class="col-sm-10">
                                        <select name="" id="" class="form-control col-lg-3">
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                            <option value="">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class = "form-group">
                                    <label class = "col-sm-2 control-label">选择文件</label>
                                    <div class = "col-sm-6">
                                        <input type = "file" id="avatar"  name = "files" class = "form-control" />
                                    </div>
                                </div>
                                <div class = "form-group">
                                    <div class = "col-sm-offset-2 col-sm-6">
                                        <button class = "btn btn-primary" onClick = "uploadFile()">上传</button>
                                        <span class = "help-inline" id = "spanMessage">选择文件，并上传</span>
                                    </div>
                                    <div id="#spanMessage"></div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">取消
                            </button>
                            <button type="button" class="btn btn-primary">
                                确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="createAlbumModal" tabindex="-1" role="dialog"
                 aria-labelledby="createAlbumModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="createAlbumModalLabel">
                                创建相册
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form class = "form-horizontal" enctype='multipart/form-data' method='post' role = "form" id = "frmUploadFile">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">相册名称</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="albumName" type="text"
                                               placeholder="请输入相册名称...">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">相册描述</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">取消
                            </button>
                            <button type="button" class="btn btn-primary">
                                确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>
</div>
    </div>
<!--<footer class="settingFooter">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>-->
<script>
    $(function () {
        $('.nav-sidebar li').click(function(){
            $(this).addClass('active').siblings().removeClass('active');
            $.ajax({
                url: $(this).attr('data-url'),
                dataType:'html',
                success:function(data){
                    $('#mainContent').empty().append(data);
                }
            });
        });

        $('#uploadPicModal').modal('hide');
        $('#uploadPicModal').on('hide.bs.modal', function () {
           // alert('嘿，我听说您喜欢模态框...');})
        });
        $('#createAlbumModal').modal('hide');
        $('#createAlbumModal').on('hide.bs.modal', function () {
           // alert('嘿，我听说您喜欢模态框...');})
        });
    });
</script>
</body>
</html>